@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
  min-height: 100vh;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  background: url('../images/piggy-bank.jpg') bottom right no-repeat;
  background-color: #f2f2f2;
  color: #000;
  display: flex;
  align-items: stretch;
  justify-content: center;
  text-align: center;
}

.app {
  width: 90%;
  padding: 30px;
  display: flex;
  align-items: flex-start;
}

@media (min-width: 768px) {
  .app {
    width: 40%;
  }
}

ul {
  list-style: none;
}

button,
input[type='submit'] {
  cursor: pointer;
}
